aiodns==1.1.1
aiohttp==2.0.7
appdirs==1.4.3
async-timeout==1.2.0
cchardet==2.0.0
chardet==3.0.2
multidict==2.1.4
packaging==16.8
pycares==2.1.1
pyparsing==2.2.0
six==1.10.0
uvloop==0.8.0
yarl==0.10.0
